<div class="container">
    <table class="mt-5 shadow table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                        style="width: 20px">
                    {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
                <td>
                    <i class="text-dark mr-2 fas fa-arrow-circle-down"></i>
                    <i class="text-success mr-2 fas fa-cog"></i>
                    <i class="text-danger mr-2 fas fa-times"></i>
                    <i class="text-primary fas fa-share-alt"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>